1. Add an Item to a Tuple

In [31]:
tuple = (1, 2, 3)
tuple = tuple + (4,)
print(tuple)

(1, 2, 3, 4)

2. Sum All Items in a List

In [49]:
my_list = [1, 2, 3, 4]
print(sum(my_list))

10

3. Multiply All Items in a List

In [47]:
import math
my_list = [1, 2, 3, 4]
result = math.prod(my_list)
print(result)

24

4. Get the Smallest Number from a List

In [46]:
my_list = [10, 20, 5, 7]
print(min(my_list))

5

5. Get the Largest Number from a List

In [45]:
my_list = [10, 20, 5, 7]
print(max(my_list))

20

6. Count the Number of Strings in a List

In [44]:
my_list = ["apple", "banana", "123", "", "Mango"]
string_count = sum(1 for item in my_list if isinstance(item, str))
print(string_count)

5

7. Clone or Copy a List

In [43]:
original_list = [1, 2, 3, 4]
cloned_list = original_list.copy()
print(cloned_list)

[1, 2, 3, 4]

8. Remove Item(s) from a Given Set

In [42]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

9. Check if a Set is a Subset of Another Set

In [41]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(set_a.issubset(set_b))

True

10. Remove All Elements from a Given Set

In [40]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

11. Find the Maximum and Minimum Values in a Set

In [39]:
my_set = {10, 20, 5, 30}
print(max(my_set))
print(min(my_set))

30
5

12. Find the Index of an Item in a Tuple

In [38]:
my_tuple = ('apple', 'banana', 'Orange')
print(my_tuple.index('banana'))

1

13. Convert a Tuple to a Dictionary

In [37]:
my_tuple = (('a', 1), ('b', 2), ('c', 3))
my_dict = dict(my_tuple)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a List of Tuples into Individual Lists

In [36]:

list_of_tuples = [(1, 2), (3, 4), (5, 6)]
list1, list2 = zip(*list_of_tuples)
print(list(list1))
print(list(list2))

[1, 3, 5]
[2, 4, 6]

15. Reverse a Tuple

In [35]:
my_tuple = (1, 2, 3, 4)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(4, 3, 2, 1)

16. Convert a List of Tuples into a Dictionary

In [34]:
list_of_tuples = [('a', 1), ('b', 2), ('c', 3)]
my_dict = dict(list_of_tuples)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

17. Replace the Last Value of Tuples in a List

In [33]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
updated_list = [t[:-1] + (100,) for t in sample_list]
print(updated_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a Tuple by Its Float Element

In [32]:
my_tuple = (('a', 2.3), ('b', 3.5), ('c', 1.8))
sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))
print(sorted_tuple)

TypeError: 'tuple' object is not callable